  <% if Driver.error_handling(@output) == 'Error' %>
    <h2>Sorry! We didn't find that driver, please search again!</h2>
    <%= link_to 'Home', '/' %>
  <% else %>
    <%= render 'layouts/driver' %>
  <%= link_to 'Search another driver', root_path %>
<% end %>
